.grid {
    display: inline-block;
    background-color: black;
}

.newGrid {
    display: inline-block;
    background-color: black;
}

#container {
    width: 960px;
    max-height: 960px;
    font-size: 0;
    flex-shrink: 0;
}

.white {
    background-color: white;
}

.side {
    display: flex;
    width: 100%;
}

#button {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;    
}

button {
    background-color: aqua;
    border-radius: 7px;
    padding: 30px;
    font-size: 20px;
}
